$primary: #0097e2;
$secondry: #45b7f0;
$baseColour: #061d21;
$darkBackground: #1D373B;
$textPrimaryColour: #183539;

$surfaceCard: rgba(209, 249, 255, 0.05);

$lightBlue: #31D2F7;
$lightestGreen: #d1f9ff;
$green: #44E0AC;

$black: #000000;

$lightGrey: #f8f9fb;
$lightGrey2: #e1e6f0;
$white: #ffffff;
$whiteAlt: #d1f9ff;


$offWhite: rgba(255,255,255,0.5);
$offBlack: rgba(0,0,0,0.5);
$formBgs: rgba(209, 249, 255, 0.05);
$formInputBgOne: rgba(209, 249, 255, 0.10);

